<!DOCTYPE html>
<html>
  <head>
    <title>Hiking Gear Manager</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= render 'layouts/header' if logged_in? %>
    
    <main class="container">
      <%= render 'layouts/flash' %>
      <%= yield %>
    </main>

    <%= render 'layouts/footer' if logged_in? %>
  </body>
</html>
